<header class='top-page-header'>
  <%= render "shared/header" %>
  <% if user_signed_in? %>
    <div class="input-contents pc-menu">
      <ul class="inputs-lists">
        <li class="input-list" >
          <%= link_to ' HOME', root_path, class: "home_btn fas fa-home", id: "home-btn" %>
        </li>
        <li class="input-list">
          <%= link_to ' 収 入', new_income_path, class: "income_btn fas fa-money-bill", id: "income-btn" %>
        </li>
        <li class="input-list">
          <%= link_to ' 固定費', new_fixed_cost_path, class: "fixed_btn fas fa-money-bill-wave", id: "fixed-btn" %>
        </li>
        <li class="input-list">
          <%= link_to ' 変動費', new_variable_cost_path, class: "variable_btn fas fa-money-bill-wave-alt", id: "variable-btn" %>
        </li>
        <li class="input-list">
          <%= link_to ' 予 算', budgets_path, class: "budget_btn fas fa-wallet", id:"budget-btn" %>
        </li>
        <li class="input-list input-list-color" >
          <%=  link_to ' 購入予定リスト', purchase_plans_path , class: "purchase_btn fas fa-shopping-cart ", id: "purchase-btn" %>
        </li>
      </ul>
    </div>
    <%= render "shared/sp_menu" %>
  <% end %>
</header>
<div class="input-purchase-plan">
  <div class="purchase-plan-forms">
    <%= form_with(model: @purchase_plan, local: true) do |form|%>
      <div class="purchase-plan-form">
        <h2 class="purchase-plan-title">購入予定リスト追加</h2>
        <%= render 'shared/error_messages', model: form.object %>
        <div class="image-upload">
          <div class="weight-bold-text">
            <label class="image-file">商品画像</label>
            <%= form.file_field :image, class:"item-image" %>
          </div>
          <div id="image-list"><img class= "hidden"></div>
        </div>
        <div>
          <label class="form-text">商品名</label>
          <%= form.text_field :name, placeholder: "例：自転車", class: "purchase-text" %>
          <span class="indispensable">必須</span>
        </div>
        <div>
          <label class="form-text">備　考</label>
          <%= form.text_field :remarks, placeholder: "例：Amazonで30000で購入", class: "purchase-text" %>
          <span class="indispensable-none">　　</span>
        </div>
        <div>
          <label class="form-text">値　段</label>
          <%= form.text_field :price, placeholder: "半角数字 例：32000", class: "purchase-text" %>
          <span class="indispensable">必須</span>
        </div>
        <div>
          <label class="form-text">購入日</label>
          <%= form.date_field :purchase_date, class: "purchase-date" %>
          <span class="indispensable">必須</span>
        </div>
        <div>
          <%= form.submit "保 存", class: "submit-btn", id: "submit-btn" %>
        </div>
      </div>
    <% end %>
  </div>
</div>
<div class="bottom-purchase-contents">
    <div class="purchase-title-box">
      <h2 class="purchase-title">購入予定リスト</h2>
    </div>
    <div class="purchase-plans-lists", id="purchase_item_box">
      <% unless @purchase_plans.present? %>
        <div class="prompt-purchase-plans">
          <div class="prompt-purchase-plan">
            購入予定リスト未登録です。
          </div>
        </div>
      <% end %>
      <% @purchase_plans.each do |plan|%>
        <div class="purchases-items">
          <div class="item-title">
            <%= plan.name %>
          </div>
          <div class="item-image-box">
            <%= image_tag plan.image, class: 'plan_image' if plan.image.attached? %> 
            <% unless plan.image.attached? %>
              <%= image_tag 'noimage.png', class: 'no-image'%>
            <% end %>
          </div>
          <div class="item-remarks">
            備考： <%= plan.remarks %>
          </div>
          <div class="item-price">
            値段： <%= plan.price.to_s(:delimited) %>円
          </div>
          <div class="item-date">
            <div>
              購入日： <%= plan.purchase_date.strftime("%Y年%m月%d日")%>
            </div>
            <div>
              <% if plan.purchase_date <= Date.today %>
                <b>購入しよう！</b>
              <% else %>
                <b>残り<%= (plan.purchase_date - Date.today).numerator %>日</b>
              <% end %>
            </div>
          </div>
          <%= link_to '削除', purchase_plan_path(plan.id), method: :delete, class: "delete-btn" %> 
        </div>
      <% end %>
    </div>
  </div>
</div>

<%= render "shared/footer" %>