<%= render "shared/header" %>
<div class="input-purchase-plan">
    <div class="purchase-plan-forms">
    <%= form_with(model: @purchase_plan, local: true) do |form|%>
    <ul class="purchase-plan-form">
      <li>
        <label class="form-image">
        <span class="image-file">画 像</span>
        <input type="file" class="hidden">
        </label>
      </li>
      <li>
        <%= form.text_field :name, placeholder: "商品名(例：自転車)", class: "purchase-text" %>
      </li>
      <li>
        <%= form.text_field :remarks, placeholder: "備考(例：Amazonでの相場価格¥30000)", class: "purchase-text" %>
      </li>
      <li>
        <%= form.text_field :price, placeholder: "値段(例：32000)", class: "purchase-text" %>
      </li>
      <li>
        <%= form.date_field :purchase_date, class: "purchase-date" %>
      </li>
      <li>
          <%= form.submit "保 存", class: "submit-btn" %>
      <li>
    </ul>
  </div>
</div>
     <% @purchase_plans.each do |plan|%>
            <div class="plan">
              <ul>
                <li>
                  <h2><%= plan.name %></h2>
                </li>
                <li>
                  <%= image_tag plan.image.variant(resize: '200x200'), class: 'plan-image' if plan.image.attached? %> 
                    <% unless plan.image.attached? %>
                      <%= image_tag 'noimage.png'%>
                    <% end %>
                </li>
                <li>
                  ¥<%= plan.price.to_s(:delimited) %>円を
                </li>
                <li>
                  <%= plan.purchase_date.strftime("%Y年%m月%d日")%>に買う！
                </li>
                <li>
                  <% if plan.purchase_date <= Date.today %>
                    <b>期日になりました！購入しましょう！</b>
                  <% else %>
                    残り<%= (plan.purchase_date - Date.today).numerator %>日
                  <% end %>
                </li>
              </ul>
              <%# <%= link_to '編集', edit_finance_plan_path(params[:finance_id], plan), class: :edit_plan %> %>
              <%# <%= link_to '削除', finance_plan_path(params[:finance_id], plan), method: :delete, class: :destroy_plan %> %>
            </div>
          <% end %>
    <% end %>
