<header class='top-page-header'>
  <%= render "shared/header" %>
  <% if user_signed_in? %>
    <div class="input-contents">
      <ul class="inputs-lists">
        <li class="input-list input-list-color" >
          <%= link_to ' HOME', root_path, class: "home_btn fas fa-home", id: "home-btn" %>
        </li>
        <li class="input-list">
          <%= link_to ' 収入', new_income_path, class: "income_btn fas fa-money-bill", id: "income-btn" %>
        </li>
        <li class="input-list">
          <%= link_to ' 固定費', new_fixed_cost_path, class: "fixed_btn fas fa-money-bill-wave", id: "fixed-btn" %>
        </li>
        <li class="input-list">
          <%= link_to ' 変動費', new_variable_cost_path, class: "variable_btn fas fa-money-bill-wave-alt", id: "variable-btn" %>
        </li>
        <li class="input-list" >
          <%=  link_to ' 購入予定リスト', purchase_plans_path , class: "purchase_btn fas fa-shopping-cart ", id: "purchase-btn" %>
        </li>
      </ul>
    </div>
  <% end %>
</header>
<div class="budget-contents">


          <% unless @fixed_budget.present?%>
          <%= link_to '予算登録', new_budget_path , class: "", id: "" %>
          <% else %>
          <%=  link_to '予算編集', edit_budget_path(@fixed_budget) , class: "", id: "" %>
          <% end %>









</div>

<%= render "shared/footer" %>