<%= render "shared/header" %>
    <%= form_with(model: @variable_cost, local: true) do |form| %>
    <ul>
      <li>
        <%= form.collection_select(:variable_cost_category_id, VariableCostCategory.all, :id, :name, {}, {class:"variable-cost-select"}) %>
      </li>
      <li>
        <%= form.text_field :remarks, placeholder: "備考" %>
      </li>
      <li>
        <%= form.text_field :price, placeholder: "金額" %>円
      </li>
      <li>
        <%= form.date_field :expense_date, placeholder: "支出日" %>
      </li>
      <li>
          <%= form.submit "CREATE" %>
      <li>
    </ul>
    <% end %>




  <ul>
    <% @variable_costs.each do |variable_cost| %>
    <li>
      <%= variable_cost.variable_cost_category.name %> 
      <%= variable_cost.price.to_s(:delimited) %>円
      <%= variable_cost.expense_date.strftime("%Y年%m月%d日") %>
      <%= variable_cost.remarks %>
    </li>
    <% end %>
  </ul>

<%= render "shared/footer" %>