<%= render "shared/header" %>
<div class="input-contents">
  <ul class="inputs-lists">
    <li class="input-list">
      <%= link_to '収入入力', new_income_path, class: "income_btn" %>
    </li>
    <li class="input-list">
      <%= link_to '固定費入力', new_fixed_cost_path, class: "fixed_btn" %>
    </li>
    <li class="input-list">
      <%= link_to '変動費入力', new_variable_cost_path, class: "valiable_btn" %>
    </li>
  </ul>
</div>
<div class="top-contents">
  <div class="left-content">
    <div class="chart-box">
    　<div class="chart-title-box">
        <h2 class="chart-title">収支変動(過去１年間)</h2>
      </div>
      <div class="chart">
          <%= line_chart [
          {name: "収入", data: @income},
          {name: "固定費", data: @fixed_cost},
          {name: "変動費", data: @variable_cost} ],
          id: "users-chart",
          width: "500px", height: "400px", 
          # min: 0, max: 500000,
          xmin: 1, xmax: 20,
          xtitle: "年, 月", ytitle: "金額（円）" ,
          thousands: ","
          %>
      </div>
      <div class="annual-income">
      </div>
    </div>
  </div>

  <div class="right-content">
    <div class="top-right">
      <div class="this-month-data">
        <ul>今月のデータ
        <li>収　入：<%= @income_month %>円</li>
        <li>固定費：<%= @fixed_cost_month %>円</li>
        <li>変動費：<%= @variable_month %>円</li>
        <li>収　支：<%= @this_month_balance %>円</li>
        </ul>
      </div>
    </div>


    <div class="bottom-right">
      <div class="add-purchase-plan">
      <%= link_to '欲しい物リスト追加', purchase_plans_path , class: :new_plan %>
      </div>
      <div class="purchase-plans-content">
            <% @purchase_plans.each do |plan|%>
            <div class="purchases-box">
              <ul calss="purchase-plan">
                <li>
                  <h2><%= plan.name %></h2>
                </li>
                <div>
                  <%= image_tag plan.image.variant(resize: '120x120'), class: 'plan-image' if plan.image.attached? %> 
                  <% unless plan.image.attached? %>
                    <%= image_tag 'noimage.png'%>
                  <% end %>
                </div>
                <li>
                  ¥<%= plan.price %>円
                </li>
                <li>
                  <% if plan.purchase_date <= Date.today %>
                    <b>購入できます！</b>
                  <% else %>
                    残り<%= (plan.purchase_date - Date.today).numerator %>日
                  <% end %>
                </li>
              </ul>
            </div>
          <% end %>
      </div>
    </div>
  </div>  
</div>


<%= render "shared/footer" %>