<%= render "shared/header" %>
<div class="contents">
  <div class="top-contents">
    <div class="top-left-content">
        <div class="chart-title-box">
          <h2 class="chart-title ">
            収支変動(過去１年間)
          </h2>
        </div>
      <div class="chart-box">
        <div class="chart">
            <%= line_chart [
            {name: "収入", data: @income},
            {name: "固定費", data: @fixed_cost},
            {name: "変動費", data: @variable_cost} ],
            id: "users-chart",
            width: "500px", height: "400px", 
            xmin: 1, xmax: 12,
            xtitle: "年, 月", ytitle: "金額（円）" ,
            thousands: ","
            %>
        </div>
      </div>
    </div>
    <div class="top-right-content">
      <div class="month-data">
        <div class="month-data-title">
          <%= Date.today.mon%>月の収支
        </div>
        <div class="category-prices">
          <div class="category-price">
            <div class="category fas fa-money-bill"> 収　入</div>
            <div class="price income-color"><%= @income_month.to_s(:delimited) %>円</div>
          </div>
          <div class="category-price">
            <div class="category fas fa-money-bill-wave"> 固定費</div>
            <div class="price expense-color"><%= @fixed_cost_month.to_s(:delimited) %>円</div>
          </div>
          <div class="category-price">
            <div class="category fas fa-money-bill-wave-alt"> 変動費</div>
            <div class="price expense-color"><%= @variable_month.to_s(:delimited) %>円</div>
          </div>
          <div class="category-price">
            <div class="category fas fa-balance-scale"> 収　支</div>
            <% if @this_month_balance > 0 %>       <%# 収支総額がプラスの場合は青字、0の場合は黒字マイナスの場合は赤字 %>
              <div class="price income-color">
            <% elsif @this_month_balance == 0 %>
              <div class="price zeo-color">
            <% else %>
              <div class="price expense-color">
            <% end %>
              <%= @this_month_balance.to_s(:delimited) %>円</div>
          </div>
        </div>
      </div>
      <div class="total-data">
        <div class="total-data-title">
          総額（過去データの合計値）
        </div>
        <div class="category-prices">
          <div class="category-price">
            <div class="category fas fa-money-bill"> 収入総額</div>
            <div class="price income-color"><%= @income_all.to_s(:delimited) %>円</div>
          </div>
          <div class="category-price">
            <div class="category fas fa-money-bill-wave"> 固定費総額</div>
            <div class="price expense-color"><%= @fixed_cost_all.to_s(:delimited) %>円</div>
          </div>
          <div class="category-price">
            <div class="category fas fa-money-bill-wave-alt"> 変動費総額</div>
            <div class="price expense-color"><%= @variable_cost_all.to_s(:delimited) %>円</div>
          </div>
          <div class="balance-var">
          </div>
          <div class="category-price">
            <div class="category fas fa-balance-scale"> 収支総額</div>
            <% if @savings > 0 %>       <%# 収支総額がプラスの場合は青字、0の場合は黒字マイナスの場合は赤字 %>
              <div class="price income-color">
            <% elsif @savings == 0 %>
              <div class="price zeo-color">
            <% else %>
              <div class="price expense-color">
            <% end %>
              <%= @savings.to_s(:delimited)%>円</div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="middle-contents">
    <div class="middle-left-content">
      <div class="month-data-title">
        <%= Date.today.mon%>月の支出内訳
      </div>
      <div class="breakdowns">
        <div class="left-breakdown">
          <div class="left-breakdown-title">
            <%= link_to '固定費', new_fixed_cost_path %>
          </div>
          <div class="variable-cost-lists">
            <div class="category-names">
              <div class="category-name fas fa-house-user"> 住居費</div>
              <div class="category-name fas fa-broadcast-tower"> 通信費</div>
              <div class="category-name fas fa-lightbulb"> 電気代</div>
              <div class="category-name fas fa-fire-alt"> ガス代</div>
              <div class="category-name fas fa-faucet"> 水道代</div>
              <div class="category-name fas fa-school"> 教育費</div>
              <div class="category-name fas fa-notes-medical"> 保険料</div>
              <div class="category-name fas fa-coins"> ローン</div>
              <div class="category-name fas fa-question-circle"> その他</div>
            </div>
            <div class="category-numbers">
              <%# 固定費のcategory_idは2-10  分類ごとに当月の合計値を算出 %>
              <% 9.times do |num|%>
                <div class="category-number">
                  <%= @fixed_cost_category.where(fixed_cost_category_id: num+2 ).sum(:price).to_s(:delimited)%>円
                </div>
              <%end%>
            </div>
          </div>
          <div class="new-category-btn">
            <%= link_to '入 力', new_fixed_cost_path, class: "new_category_btn" %>
          </div>
        </div>
        <div class="right-breakdown">
          <div class="right-breakdown-title">
            <%= link_to '変動費', new_variable_cost_path %>
          </div>
          <div class="variable-cost-lists">
            <div class="category-names">
              <div class="category-name fas fa-utensils"> 食費</div>
              <div class="category-name fas fa-box-tissue"> 日用品</div>
              <div class="category-name fas fa-bus"> 交通費</div>
              <div class="category-name fas fa-futbol"> 趣味・娯楽</div>
              <div class="category-name fas fa-tshirt"> 衣服・美容</div>
              <div class="category-name fas fa-hospital-user"> 健康・医療</div>
              <div class="category-name fas fa-book-reader"> 教養・教育</div>
              <div class="category-name fas fa-book-open"> 書籍</div>
              <div class="category-name fas fa-coffee"> カフェ</div>
              <div class="category-name fas fa-user-friends"> 交際費</div>
              <div class="category-name fas fa-gifts"> 特別費</div>
              <div class="category-name fas fa-question-circle"> その他</div>
            </div>
            <div class="category-numbers">
              <%# 変動費のcategory_idは2-13 分類ごとに当月の合計値を算出 %>
              <% 12.times do |num|%>                 
                <div class="category-number">
                  <%= @variable_cost_category.where(variable_cost_category_id: num+2 ).sum(:price).to_s(:delimited)%>円
                </div>
              <%end%>
            </div>
          </div>
          <div class="new-category-btn">
            <%= link_to '入  力', new_variable_cost_path, class: "new_category_btn" %>
          </div>
        </div>
      </div>
    </div>
    <div class="middle-right-content">
      <div class="purchase-plans-data">
        <div class="purchase-plans-data-title">
          購入予定リストから一日に貯金すべき金額
        </div>
        <%= @sum.to_s(:delimited) %>円
      </div>
    </div>
  </div>
  <div class="bottom-contents">
    <div class="purchase-title-box">
      <h2 class="purchase-title"><%= link_to '購入予定リスト', purchase_plans_path %></h2>
    </div>
    <% unless @purchase_plans.present? %>
      <div class="prompt-purchase-plans">
        <div class="prompt-purchase-plan">
          購入予定リスト未登録です。
        </div>
      </div>
    <% end %>
    <div class="purchase-plans-content">
          <% @purchase_plans.each do |plan|%>
          <div class="purchases-box">
            <div class="plan-title">
              <%= plan.name %>
            </div>
            <div class="plan-image-box">
              <%= image_tag plan.image.variant(resize: '120x120'), class: 'plan-image' if plan.image.attached? %>
              <% unless plan.image.attached? %>
                <%= image_tag 'noimage.png'%>
              <% end %>
            </div>
            <div class="plan-prie">
              <%= plan.price.to_s(:delimited) %>円
            </div>
            <div class="plan-date">
              <% if plan.purchase_date <= Date.today %>
                <b>購入できます！</b>
              <% else %>
                購入まで残り<b><%= (plan.purchase_date - Date.today).numerator %></b>日
              <% end %>
            </div>
          </div>
        <% end %>
    </div>
  </div>
</div>

<%= render "shared/footer" %>