<%= render "shared/header" %>
<div class="input-contents">
  <%= link_to '収入入力', new_income_path, class: "income_btn" %>

  <%= link_to '固定費入力', new_fixed_cost_path, class: "fixed_btn" %>

  <%= link_to '変動費入力', new_variable_cost_path, class: "valiable_btn" %>
</div>
<div class="top-contents">
  <div class="left-content">
    <h2>過去１年のデータ</h2>
    <div class="chart_box">chart挿入</div>
    <div class="annual income">
  </div>
  <div class="right-content">
    <h2>今月の収支</h2>
  </div>
</div>
<div class="botom-contents">
  <div class="add_purchase_plan">
  </div>
  <div class="purchase-plans_content">
  </div>
</div>
<%= render "shared/footer" %>