<header class='top-page-header'>
  <%= render "shared/header" %>
  <% if user_signed_in? %>
    <div class="input-contents">
      <ul class="inputs-lists">
        <li class="input-list input-list-color" >
          <%= link_to ' HOME', root_path, class: "home_btn fas fa-home", id: "home-btn" %>
        </li>
        <li class="input-list">
          <%= link_to ' 収 入', new_income_path, class: "income_btn fas fa-money-bill", id: "income-btn" %>
        </li>
        <li class="input-list">
          <%= link_to ' 固定費', new_fixed_cost_path, class: "fixed_btn fas fa-money-bill-wave", id: "fixed-btn" %>
        </li>
        <li class="input-list">
          <%= link_to ' 変動費', new_variable_cost_path, class: "variable_btn fas fa-money-bill-wave-alt", id: "variable-btn" %>
        </li>
        <li class="input-list" >
          <%= link_to ' 予 算', budgets_path, class: "budget_btn fas fa-wallet", id:"budget-btn" %>
        </li>
        <li class="input-list" >
          <%=  link_to ' 購入予定リスト', purchase_plans_path, class: "purchase_btn fas fa-shopping-cart ", id: "purchase-btn" %>
        </li>
      </ul>
    </div>
  <% end %>
</header>
<div class="question-mark fas fa-question-circle">をクリックすると機能説明が表示されます。</div>
<div class="contents">
  <div class="top-contents">
    <div class="top-left-content">
        <div class="chart-title-box">
          <h2 class="chart-title ">
            収支変動(過去１年間)
          </h2>
        </div>
      <div class="chart-box">
        <div class="chart">
            <%= line_chart [
            {name: "収入", data: @income_monthly},
            {name: "固定費", data: @fixed_cost_monthly},
            {name: "変動費", data: @variable_cost_monthly} ],
            id: "users-chart",
            width: "100%", height: "300px", 
            xmin: 1, xmax: 12,
            xtitle: "年, 月", ytitle: "金額（円）" ,
            thousands: "," %>
        </div>
        <dialog class="dialog-box" id="dialog1">
          <div class="dialog-title">
            収支変動(過去１年間)について
          </div>
          <ul class="explanation-function">
            <li>過去１年間の月ごとの「収入」「固定費」「変動費」を表示します。</li>
          </ul>
          <div class="close-box">
            <button class="close-btn" id="close1">close</button>
          </div>
        </dialog>
        <div class="question-box">
          <button class="question-btn" id="question-btn1">?</button>
        </div>
      </div>
    </div>
    <div class="top-right-content">
      <div class="month-data">
        <div class="month-data-title">
          <%= Date.today.mon%>月の収支
        </div>
        <dialog class="dialog-box" id="dialog2">
          <div class="dialog-title">
            <%= Date.today.mon%>月の収支について
          </div>
          <ul class="explanation-function">
            <li>①「収入」は当月の収入の総額を示しています。</li>
            <li>② 当月の支出は「固定費」と「変動費」の２つに分けて示しています。</li>
            <li>③「収支」は「収入」から「固定費」と「変動費」を引いた差分です。</li>
          </ul>
          <div class="close-box">
            <button class="close-btn" id="close2">close</button>
          </div>
        </dialog>
        <div class="category-prices">
          <div class="category-price">
            <div class="category fas fa-money-bill"> 収　入</div>
            <div class="price income-color"><%= @income_this_month.to_s(:delimited) %>円</div>
          </div>
          <div class="category-price">
            <div class="category fas fa-money-bill-wave"> 固定費</div>
            <div class="price expense-color"><%= @fixed_cost_this_month.to_s(:delimited) %>円</div>
          </div>
          <div class="category-price">
            <div class="category fas fa-money-bill-wave-alt"> 変動費</div>
            <div class="price expense-color"><%= @variable_cost_this_month.to_s(:delimited) %>円</div>
          </div>
          <div class="category-price">
            <div class="category fas fa-balance-scale"> 収　支</div>
            <%# 収支がプラスの場合は青字、0の場合は黒字、マイナスの場合は赤字 %>
            <% if @balance_this_month > 0 %>
              <div class="price income-color">
            <% elsif @balance_this_month == 0 %>
              <div class="price zeo-color">
            <% else %>
              <div class="price expense-color">
            <% end %>
              <%= @balance_this_month.to_s(:delimited) %>円</div>
          </div>
          <div class="question-box">
            <button class="question-btn" id="question-btn2">?</button>
          </div>
        </div>
      </div>
      <div class="total-data">
        <dialog class="dialog-box" id="dialog3">
          <div class="dialog-title">
            総額（過去データの合計値）について
          </div>
          <ul class="explanation-function">
            <li>①「収入総額」は過去の収入の総額を示しています。</li>
            <li>② 過去の支出は「固定費総額」と「変動費総額」の２つに分けて示しています。</li>
            <li>③「収支総額」は「収入総額」から「固定費総額」と「変動費総額」を引いた差分です。</li>
          </ul>
          <div class="close-box">
            <button class="close-btn" id="close3">close</button>
          </div>
        </dialog>
        <div class="total-data-title">
          総額（過去データの合計値）
        </div>
        <div class="category-prices">
          <div class="category-price">
            <div class="category fas fa-money-bill"> 収入総額</div>
            <div class="price income-color"><%= @income_total.to_s(:delimited) %>円</div>
          </div>
          <div class="category-price">
            <div class="category fas fa-money-bill-wave"> 固定費総額</div>
            <div class="price expense-color"><%= @fixed_cost_total.to_s(:delimited) %>円</div>
          </div>
          <div class="category-price">
            <div class="category fas fa-money-bill-wave-alt"> 変動費総額</div>
            <div class="price expense-color"><%= @variable_cost_total.to_s(:delimited) %>円</div>
          </div>
          <div class="balance-var">
          </div>
          <div class="category-price">
            <div class="category fas fa-balance-scale"> 収支総額</div>
            <%# 収支総額がプラスの場合は青字、0の場合は、黒字マイナスの場合は赤字 %>
            <% if @balance_total > 0 %>
              <div class="price income-color">
            <% elsif @balance_total == 0 %>
              <div class="price zeo-color">
            <% else %>
              <div class="price expense-color">
            <% end %>
              <%= @balance_total.to_s(:delimited)%>円</div>
          </div>
          <div class="question-box">
            <button class="question-btn" id="question-btn3">?</button>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="middle-contents">
    <div class="middle-left-content">
      <div class="month-data-title">
        <%= Date.today.mon%>月の支出内訳
      </div>
      <div class="breakdowns">
        <div class="left-breakdown">
          <div class="left-breakdown-title">
            <%= link_to '固定費', new_fixed_cost_path %>
          </div>
          <div class="fixed-cost-lists">
              <div class="category-name-number">
                <div class="category-name fas fa-house-user">
                  住居費
                </div>
                <div class="category-number">
                  <%= @fixed_cost_category.where(fixed_cost_category_id: 2 ).sum(:price).to_s(:delimited)%>円
                </div>
              </div>
              <div class="category-name-number">
                <div class="category-name fas fa-broadcast-tower">
                  通信費
                </div>
                <div class="category-number">
                  <%= @fixed_cost_category.where(fixed_cost_category_id: 3 ).sum(:price).to_s(:delimited)%>円
                </div>
              </div>
              <div class="category-name-number">
                <div class="category-name fas fa-lightbulb">
                  電気代
                </div>
                <div class="category-number">
                  <%= @fixed_cost_category.where(fixed_cost_category_id: 4 ).sum(:price).to_s(:delimited)%>円
                </div>
              </div>
              <div class="category-name-number">
                <div class="category-name fas fa-fire-alt">
                  ガス代
                </div>
                <div class="category-number">
                  <%= @fixed_cost_category.where(fixed_cost_category_id: 5 ).sum(:price).to_s(:delimited)%>円
                </div>
              </div>
              <div class="category-name-number">
                <div class="category-name fas fa-faucet">
                  水道代
                </div>
                <div class="category-number">
                  <%= @fixed_cost_category.where(fixed_cost_category_id: 6 ).sum(:price).to_s(:delimited)%>円
                </div>
              </div>
              <div class="category-name-number">
                <div class="category-name fas fa-school">
                  教育費
                </div>
                <div class="category-number">
                  <%= @fixed_cost_category.where(fixed_cost_category_id: 7 ).sum(:price).to_s(:delimited)%>円
                </div>
              </div>
              <div class="category-name-number">
                <div class="category-name fas fa-notes-medical">
                  保険料
                </div>
                <div class="category-number">
                  <%= @fixed_cost_category.where(fixed_cost_category_id: 8 ).sum(:price).to_s(:delimited)%>円
                </div>
              </div>
              <div class="category-name-number">
                <div class="category-name fas fa-coins">
                  ローン
                </div>
                <div class="category-number">
                  <%= @fixed_cost_category.where(fixed_cost_category_id: 9 ).sum(:price).to_s(:delimited)%>円
                </div>
              </div>
              <div class="category-name-number">
                <div class="category-name fas fa-question-circle">
                  その他
                </div>
                <div class="category-number">
                  <%= @fixed_cost_category.where(fixed_cost_category_id: 10 ).sum(:price).to_s(:delimited)%>円
                </div>
              </div>
          </div>
          <div class="new-category-btn">
            <%= link_to '入 力', new_fixed_cost_path, class: "new_category_btn", id: "left-input-btn" %>
          </div>
        </div>
        <div class="right-breakdown">
          <div class="right-breakdown-title">
            <%= link_to '変動費', new_variable_cost_path %>
          </div>
          <div class="variable-cost-lists">
            <div class="category-name-number">
              <div class="category-name fas fa-utensils"> 食費</div>
              <div class="category-number">
                <%= @variable_cost_category.where(variable_cost_category_id: 2 ).sum(:price).to_s(:delimited)%>円
              </div>
            </div>
            <div class="category-name-number">
              <div class="category-name fas fa-box-tissue"> 日用品</div>
              <div class="category-number">
                <%= @variable_cost_category.where(variable_cost_category_id: 3 ).sum(:price).to_s(:delimited)%>円
              </div>
            </div>
            <div class="category-name-number">
              <div class="category-name fas fa-bus"> 交通費</div>
              <div class="category-number">
                <%= @variable_cost_category.where(variable_cost_category_id: 4 ).sum(:price).to_s(:delimited)%>円
              </div>
            </div>
            <div class="category-name-number">
              <div class="category-name fas fa-futbol"> 趣味・娯楽</div>
              <div class="category-number">
                <%= @variable_cost_category.where(variable_cost_category_id: 5 ).sum(:price).to_s(:delimited)%>円
              </div>
            </div>
            <div class="category-name-number">
              <div class="category-name fas fa-tshirt"> 衣服・美容</div>
              <div class="category-number">
                <%= @variable_cost_category.where(variable_cost_category_id: 6 ).sum(:price).to_s(:delimited)%>円
              </div>
            </div>
            <div class="category-name-number">
              <div class="category-name fas fa-hospital-user"> 健康・医療</div>
              <div class="category-number">
                <%= @variable_cost_category.where(variable_cost_category_id: 7 ).sum(:price).to_s(:delimited)%>円
              </div>
            </div>
            <div class="category-name-number">
              <div class="category-name fas fa-book-reader"> 教養・教育</div>
              <div class="category-number">
                <%= @variable_cost_category.where(variable_cost_category_id: 8 ).sum(:price).to_s(:delimited)%>円
              </div>
            </div>
            <div class="category-name-number">
              <div class="category-name fas fa-book-open"> 書籍</div>
              <div class="category-number">
                <%= @variable_cost_category.where(variable_cost_category_id: 9 ).sum(:price).to_s(:delimited)%>円
              </div>
            </div>
            <div class="category-name-number">
              <div class="category-name fas fa-coffee"> カフェ</div>
              <div class="category-number">
                <%= @variable_cost_category.where(variable_cost_category_id: 10 ).sum(:price).to_s(:delimited)%>円
              </div>
            </div>
            <div class="category-name-number">
              <div class="category-name fas fa-user-friends"> 交際費</div>
              <div class="category-number">
                <%= @variable_cost_category.where(variable_cost_category_id: 11 ).sum(:price).to_s(:delimited)%>円
              </div>
            </div>
            <div class="category-name-number">
              <div class="category-name fas fa-gifts"> 特別費</div>
              <div class="category-number">
                <%= @variable_cost_category.where(variable_cost_category_id: 12 ).sum(:price).to_s(:delimited)%>円
              </div>
            </div>
            <div class="category-name-number">
              <div class="category-name fas fa-question-circle"> その他</div>
              <div class="category-number">
                <%= @variable_cost_category.where(variable_cost_category_id: 13 ).sum(:price).to_s(:delimited)%>円
              </div>
            </div>
          </div>
          <div class="new-category-btn">
            <%= link_to '入  力', new_variable_cost_path, class: "new_category_btn", id: "right-input-btn" %>
          </div>
        </div>
      </div>
    </div>
    <div class="middle-right-content">
      <dialog class="dialog-box" id="dialog4">
        <div class="dialog-title">
          予算について
        </div>
        <ul class="explanation-function">
          <li>①「残り使える金額」＝<br>「固定費予算」ー「当月の固定費」or「変動費予算」ー「当月の変動費」</li><br>
          <li>②「１日に使える金額」＝（「変動費予算」ー「当月の変動費」）/ 当月の残日数<br>１日に使える金額を把握することで余計な出費を防止します！</li><br>
          <li>③「貯金額目安」は「購入予定リスト」の商品を計画的に購入できるよう１日の貯金額（節約）目安を表示します！<br>
                「貯金額目安」<br>＝（「商品Aの値段」/「登録日から購入日までの日数」）<br>+ （「商品Bの値段」/「登録日から購入日までの日数」）<br>+ ・・・</li>
        </ul>
        <div class="close-box">
          <button class="close-btn" id="close4">close</button>
        </div>
      </dialog>
      <div class="budget-data-titles">
        予 算
      </div>
      <div class="budget-data-box">
        <% if current_user.budget.present? %>
          <%= render "budget_entered" %>
        <% else %>
          <%= render "budget_blank" %>
        <% end %>
        <div class="question-box">
          <button class="question-btn" id="question-btn4">?</button>
        </div>
      </div>
    </div>
  </div>
  <div class="bottom-contents">
    <dialog class="dialog-box" id="dialog5">
      <div class="dialog-title">
        購入予定リストについて
      </div>
      <ul class="explanation-function">
        <li>① 計画的に購入したい商品があれば「購入予定リスト」に登録しましょう！</li>
        <li>②「購入日」を決めることで、登録日からの日数を計算して１日いくら貯金（節約）すればいいのか計算します。</li>
        <li>③ 購入日までの残り日数を表示します。また購入日になったら「購入できます！」が表示されます。</li>
      </ul>
      <div class="close-box">
        <button class="close-btn" id="close5">close</button>
      </div>
    </dialog>
    <div class="purchase-title-box">
      <h2 class="purchase-title"><%= link_to '購入予定リスト', purchase_plans_path %></h2>
    </div>
    <div class="purchase-plan-question-box">
      <button class="question-btn" id="question-btn5">?</button>
    </div>
    <% unless @purchase_plans.present? %>
      <div class="prompt-purchase-plans">
        <div class="prompt-purchase-plan">
          購入予定リスト未登録です。
        </div>
      </div>
    <% end %>
    <div class="purchase-plans-content">
      <% @purchase_plans.each do |plan|%>
        <div class="purchases-box">
          <div class="plan-title">
            <%= plan.name %>
          </div>
          <div class="plan-image-box">
            <%= image_tag plan.image.variant(resize: '120x120'), class: 'plan-image' if plan.image.attached? %>
            <% unless plan.image.attached? %>
              <%= image_tag 'noimage.png'%>
            <% end %>
          </div>
          <div class="plan-prie">
            <%= plan.price.to_s(:delimited) %>円
          </div>
          <div class="plan-date">
            <% if plan.purchase_date <= Date.today %>
              <b>購入できます！</b>
            <% else %>
              購入まで残り<b><%= (plan.purchase_date - Date.today).numerator %></b>日
            <% end %>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>
<%= render "shared/footer" %>