<div class="top-header">
  <div class='left-header'>
    <div class="title-image">
      <%= image_tag 'title.png'%>
    </div>
    <div class="top-title-box">
      <%= link_to "ACCOUNT BOOK", root_path, class: "top-title" %>
    </div>
  </div>
  <div class='right-header'>
    <div class='lists-right'>
      <% if user_signed_in? %>
        <div class="user-nickname-btn fas fa-user-alt"> <%= link_to current_user.nickname, "#", class: "user-nickname" %>さんのページ </div> 
        <div class="log-out-btn"><%= link_to 'ログアウト', destroy_user_session_path, method: :delete, class: "log-out", id: "log-out" %></div> 
      <% else %>
        <div class="log-in-btn"><%= link_to 'ログイン', new_user_session_path, class: "log-in", id: "log-in" %></div>
        <div class="sign-up-btn"><%= link_to '新規登録', new_user_registration_path, class: "sign-up", id: "sign-up" %></div>
      <% end %>
    </div>
  </div>
</div>