<div class="contents">
  <div class="top-contents">
    <div class="left-content">
        <div class="chart-title-box">
          <h2 class="chart-title">収支変動(過去１年間)</h2>
        </div>
      <div class="chart-box">

        <div class="chart">
            <%= line_chart [
            {name: "収入", data: @income},
            {name: "固定費", data: @fixed_cost},
            {name: "変動費", data: @variable_cost} ],
            id: "users-chart",
            width: "500px", height: "400px", 
            # min: 0, max: 500000,
            xmin: 1, xmax: 12,
            xtitle: "年, 月", ytitle: "金額（円）" ,
            thousands: ","
            %>
        </div>
        <div class="annual-income">
        </div>
      </div>
    </div>
    <div class="right-content">
      <div class="month-data">
        <div class="month-data-title">
          ・<%= Date.today.mon%>月の収支
        </div>
        <ul>
          <li class="price">収　入：　<%= @income_month.to_s(:delimited) %>円</li>
          <li class="price">固定費：　<%= @fixed_cost_month.to_s(:delimited) %>円</li>
          <li class="price">変動費：　<%= @variable_month.to_s(:delimited) %>円</li>
          <li class="price">収　支：　<%= @this_month_balance.to_s(:delimited) %>円</li>
        </ul>
      </div>

      <div class="total-data">
        <div class="total-data-title">
          ・総額（過去データの合計値）
        </div>
        <ul>
          <li class="price">　収入総額：　<%= @income_all.to_s(:delimited) %>円</li>
          <li class="price">固定費総額：　<%= @fixed_cost_all.to_s(:delimited) %>円</li>
          <li class="price">変動費総額：　<%= @variable_cost_all.to_s(:delimited) %>円</li>
          <li class="price">　収支総額：　<%= @savings.to_s(:delimited)%>円</li>
        </ul>
      </div>
    </div>
  </div>
  <div class="purchase_plans_data">
    <ul>・欲しい物リストから一日に貯金すべき金額
      <li><%= @sum %>円</li>
    </ul>
  </div>
  <div class="bottom-contents">
    <div class="purchase-title-box">
      <h2 class="purchase-title">購入予定リスト</h2>
    </div>
    <div class="add-purchase-plan">
      <%= link_to '欲しい物リスト追加', purchase_plans_path , class: :new_plan %>
    </div>
    <div class="purchase-plans-content">
          <% @purchase_plans.each do |plan|%>
          <div class="purchases-box">
            <ul calss="purchase-plan">
              <li>
                <h2><%= plan.name %></h2>
              </li>
              <div>
                <%= image_tag plan.image.variant(resize: '120x120'), class: 'plan-image' if plan.image.attached? %> 
                <% unless plan.image.attached? %>
                  <%= image_tag 'noimage.png'%>
                <% end %>
              </div>
              <li>
                ¥<%= plan.price %>円
              </li>
              <li>
                <% if plan.purchase_date <= Date.today %>
                  <b>購入できます！</b>
                <% else %>
                  残り<%= (plan.purchase_date - Date.today).numerator %>日
                <% end %>
              </li>
            </ul>
          </div>
        <% end %>
    </div>
  </div>
</div>