<%= render "shared/header" %>
<div class="input-contents">
  <ul class="inputs-lists">
  <li class="input-list">
    <%= link_to '収入入力', new_income_path, class: "income_btn" %>
  </li>
  <li class="input-list">
    <%= link_to '固定費入力', new_fixed_cost_path, class: "fixed_btn" %>
  </li>
  <li class="input-list">
    <%= link_to '変動費入力', new_variable_cost_path, class: "valiable_btn" %>
  </li>
  </ul>
</div>
    <%= form_with(model: @income, local: true) do |form| %>
    <ul>
      <li>
        <%= form.collection_select(:income_category_id, IncomeCategory.all, :id, :name, {}, {class:"income-cotegory-select"}) %>
      </li>
      <li>
        <%= form.text_field :remarks, placeholder: "備考" %>
      </li>
      <li>
        <%= form.text_field :price, placeholder: "金額" %>円
      </li>
      <li>
        <%= form.date_field :income_date, placeholder: "入金日" %>
      </li>
      <li>
          <%= form.submit "CREATE" %>
      <li>
    </ul>
    <% end %>




  <ul>
    <% @incomes.each do |income| %>
    <li>
      <%= income.income_category.name %> 
      <%= income.price %> 
      <%= income.income_date.strftime("%Y年%m月%d日") %>
      <%= income.remarks %>
    </li>
    <% end %>
  </ul>
<%= render "shared/footer" %>