<%= render "shared/header" %>
<div class="input-box">
  <div class="input-forms">
    <%= form_with(model: @income, local: true) do |form| %>
    <ul class="input-form">
      <h2 class="input-title">収入入力</h2>
      <li>
        分類<%= form.collection_select(:income_category_id, IncomeCategory.all, :id, :name, {}, {class: "input-select-btn"}) %>
      </li>
      <li>
        備考　<%= form.text_field :remarks, placeholder: "例：残業代10,000円含む", class: "input-remarks" %>　
      </li>
      <li>
        金額￥<%= form.text_field :price, placeholder: "金額", class: "input-price" %>円
      </li>
      <li>
        入金日<%= form.date_field :income_date, placeholder: "入金日", class: "input-date" %>　
      </li>
      <li>
          　　<%= form.submit "CREATE", class: "input-btn" %>
      <li>
    </ul>
    <% end %>
  </div>
</div>



<div class="detail-box">
  <div class="detail-title-box">
    <h2 class="detail-title">収入詳細</h2>
  </div>
  <div class="details">
    <div class="category-detail detail-color">
      分 類
    </div>
    <div class="price-detail detail-color">
      金 額
    </div>
    <div class="date-detail detail-color">
      入金日
    </div>
    <div class="remarks-detail detail-color">      
      備 考
    </div>
    <div class="delete-detail detail-color">
      削 除
    </div>
  </div>
  <% @incomes.each do |income| %>
  <div class="details">
    <div class="category-detail">
      <%= income.income_category.name %> 
    </div>
    <div class="price-detail income-color">
      <%= income.price.to_s(:delimited) %>円
    </div>
    <div class="date-detail">
      <%= income.income_date.strftime("%Y年%m月%d日") %>
    </div>
    <div class="remarks-detail">      
      <%= income.remarks %>
    </div>
    <div class="delete-detail">
      <%= link_to '削除', income_path(income.id), method: :delete, class: "delete-btn" %>
    </div>
  </div>
  <% end %>
</div>
<%= render "shared/footer" %>