    <%= form_with(model: @income, local: true) do |form| %>
    <ul>
      <li>
        <%= form.text_field :category_id, placeholder: "名称" %>
      </li>
      <li>
        <%= form.text_field :remarks, placeholder: "備考" %>
      </li>
      <li>
        <%= form.text_field :price, placeholder: "金額" %>円
      </li>
      <li>
        <%= form.date_field :date_entered, placeholder: "作成日" %>
      </li>
      <li>
          <%= form.submit "CREATE" %>
      <li>
    </ul>
    <% end %>
    
  <ul>
    <% @incomes.each do |income| %>
    <li>
      <%= income.name%> <%= income.price%> <%= income.fill_date %>
    </li>
    <% end %>
  </ul>