<header class='top-page-header'>
  <%= render "shared/header" %>
  <% if user_signed_in? %>
    <div class="input-contents">
      <ul class="inputs-lists">
        <li class="input-list" >
          <%= link_to ' HOME', root_path, class: "home_btn fas fa-home", id: "home-btn" %>
        </li>
        <li class="input-list input-list-color">
          <%= link_to ' 収 入', new_income_path, class: "income_btn fas fa-money-bill", id: "income-btn" %>
        </li>
        <li class="input-list">
          <%= link_to ' 固定費', new_fixed_cost_path, class: "fixed_btn fas fa-money-bill-wave", id: "fixed-btn" %>
        </li>
        <li class="input-list">
          <%= link_to ' 変動費', new_variable_cost_path, class: "variable_btn fas fa-money-bill-wave-alt", id: "variable-btn" %>
        </li>
        <li class="input-list">
          <%= link_to ' 予 算', budgets_path, class: "budget_btn fas fa-wallet", id:"budget-btn" %>
        </li>
        <li class="input-list" >
          <%=  link_to ' 購入予定リスト', purchase_plans_path , class: "purchase_btn fas fa-shopping-cart ", id: "purchase-btn" %>
        </li>
      </ul>
    </div>
  <% end %>
</header>
<div class="search-result-contents">
<div class="search-result-content">
  <div class="search-result-title-box">
    <h2 class="search-result-title">収入詳細検索結果</h2>
  </div>
  <div class="detail-box">
    <div class="details", id="details">
      <div class="detail">
        <div class="category-detail gray-color">
          分 類
        </div>
        <div class="price-detail gray-color">
          金 額
        </div>
        <div class="date-detail gray-color">
          入金日
        </div>
        <div class="remarks-detail gray-color">      
          備 考
        </div>
        <div class="delete-detail gray-color">
          削 除
        </div>
      </div>
      <% @incomes.each do |income| %>
        <div class="detail">
          <div class="category-detail white-color">
            <%= income.income_category.name %> 
          </div>
          <div class="price-detail income-color white-color">
            <%= income.price.to_s(:delimited) %>円
          </div>
          <div class="date-detail">
            <%= income.income_date.strftime("%Y年%m月%d日") %>
          </div>
          <div class="remarks-detail white-color">      
            <%= income.remarks %>
          </div>
          <div class="delete-detail white-color">
            <%= link_to '削除', income_path(income.id), method: :delete, class: "delete-input-btn"%>
          </div>
        </div>
      <% end %>
    </div>
  </div>
  <div class="back-btn-box">
    <%= link_to ' 戻る', new_income_path, class: "back-btn", id: "back-btn" %>
  </div>
</div>
</div>
<%= render "shared/footer" %>