<%= render "shared/header" %>
    <%= form_with(model: @fixed_cost, local: true) do |form| %>
    <ul>
      <li>
        <%= form.collection_select(:fixed_cost_category_id, FixedCostCategory.all, :id, :name, {}, {class:"income-cotegory-select"}) %>
      </li>
      <li>
        <%= form.text_field :remarks, placeholder: "備考" %>
      </li>
      <li>
        <%= form.text_field :price, placeholder: "金額" %>円
      </li>
      <li>
        <%= form.date_field :expense_date, placeholder: "支出日" %>
      </li>
      <li>
          <%= form.submit "CREATE" %>
      <li>
    </ul>
    <% end %>




  <ul>
    <% @fixed_costs.each do |fixed_cost| %>
    <li>
      <%= fixed_cost.fixed_cost_category.name %> 
      <%= fixed_cost.price %>円
      <%= fixed_cost.expense_date %>
      <%= fixed_cost.remarks %>
    </li>
    <% end %>
  </ul>
  <%= render "shared/footer" %>