<header class='top-page-header'>
  <%= render "shared/header" %>
  <% if user_signed_in? %>
    <div class="input-contents">
      <ul class="inputs-lists">
        <li class="input-list" >
          <%= link_to ' HOME', root_path, class: "home_btn fas fa-home", id: "home-btn" %>
        </li>
        <li class="input-list">
          <%= link_to ' 収 入', new_income_path, class: "income_btn fas fa-money-bill", id: "income-btn" %>
        </li>
        <li class="input-list input-list-color">
          <%= link_to ' 固定費', new_fixed_cost_path, class: "fixed_btn fas fa-money-bill-wave", id: "fixed-btn" %>
        </li>
        <li class="input-list">
          <%= link_to ' 変動費', new_variable_cost_path, class: "variable_btn fas fa-money-bill-wave-alt", id: "variable-btn" %>
        </li>
        <li class="input-list" >
          <%= link_to ' 予 算', budgets_path, class: "budget_btn fas fa-wallet", id:"budget-btn" %>
        </li>
        <li class="input-list" >
          <%=  link_to ' 購入予定リスト', purchase_plans_path , class: "purchase_btn fas fa-shopping-cart ", id: "purchase-btn" %>
        </li>
      </ul>
    </div>
  <% end %>
</header>
<div class="input-box">
  <div class="input-forms">
    <%= form_with(model: @fixed_cost, local: true) do |form| %>
    <div class="input-form">
      <h2 class="input-title">固定費入力</h2>
      <%= render 'shared/error_messages', model: form.object %>
      <div>
        <label class="form-text">分　類</label>
        <%= form.collection_select(:fixed_cost_category_id, FixedCostCategory.all, :id, :name, {}, {class: "input-select-btn"}) %>
        <span class="indispensable">必須</span>
      </div>
      <div>
        <label class="form-text">備　考</label>
        <%= form.text_field :remarks, placeholder: "例：自動車ローン7,000円含む", class: "input-remarks" %>
        <span class="indispensable-none">　　</span>
      </div>
      <div>
        <label class="form-text">金　額</label>
        <%= form.text_field :price, placeholder: "半角数字 例：10000", class: "input-price" %>
        <label class="form-text"></label>
        <span class="indispensable">必須</span>
      </div>
      <div>
        <label class="form-text">出金日</label>
        <%= form.date_field :expense_date, placeholder: "入金日", class: "input-date" %>
        <span class="indispensable">必須</span>
      </div>
      <div>
          <%= form.submit "入 力", class: "input-btn", id: "submit-btn" %>
      </div>
    </div>
    <% end %>
  </div>
</div>
<div class="detail-box">
  <div class="detail-title-box">
    <h2 class="detail-title">固定費詳細</h2>
  </div>
  <div class="search-box">
    <%= form_with(url: search_fixed_costs_path, local: true, method: :get, class: "search-form fas fa-search") do |form| %>
      <label class="form-text">分類:</label>
      <%= form.collection_select(:fixed_cost_category_id, FixedCostCategory.all, :id, :name, {}, {class: "search-select"}) %>
      <label class="form-text">　出金日:</label>
      <%= form.select :year,(Date.today.year-10)..(Date.today.year+5), prompt:"--", class: "search-year" %>
      <label class="form-text">年 </label>
      <%= form.select :month, 1..12, prompt:"--", class: "search-month" %>
      <label class="form-text">月 </label>
      <%= form.submit "検索", class: "search-btn" %>
    <% end %>
  </div>
  <div class="details">
    <div class="category-detail detail-color">
      分 類
    </div>
    <div class="price-detail detail-color">
      金 額
    </div>
    <div class="date-detail detail-color">
      出金日
    </div>
    <div class="remarks-detail detail-color">      
      備 考
    </div>
    <div class="delete-detail detail-color">
      削 除
    </div>
  </div>
  <% unless @fixed_costs.present? %>
    <div class="prompt-purchase-plans">
      <div class="prompt-purchase-plan">
        固定費リスト未登録です。
      </div>
    </div>
  <% end %>
  <% @fixed_costs.each do |fixed_cost| %>
  <div class="details">
    <div class="category-detail">
      <%= fixed_cost.fixed_cost_category.name %> 
    </div>
    <div class="price-detail expense-color">
      <%= fixed_cost.price.to_s(:delimited) %>円
    </div>
    <div class="date-detail">
      <%= fixed_cost.expense_date.strftime("%Y年%m月%d日") %>
    </div>
    <div class="remarks-detail">      
      <%= fixed_cost.remarks %>
    </div>
    <div class="delete-detail">
      <%= link_to '削除', fixed_cost_path(fixed_cost.id), method: :delete, class: "delete-btn" %>
    </div>
  </div>
  <% end %>
</div>
  <%= render "shared/footer" %>