<%= render "shared/header" %>
<div class="input-box">
  <div class="input-forms">
    <%= form_with(model: @fixed_cost, local: true) do |form| %>
    <ul class="input-form">
      <h2 class="input-title">固定費入力</h2>
      <li>
        分類<%= form.collection_select(:fixed_cost_category_id, FixedCostCategory.all, :id, :name, {}, {class: "input-select-btn"}) %>
      </li>
      <li>
        備考　<%= form.text_field :remarks, placeholder: "例：インターベット代5,000円含む", class: "input-remarks" %>　
      </li>
      <li>
        金額￥<%= form.text_field :price, placeholder: "金額", class: "input-price" %>円
      </li>
      <li>
        入金日<%= form.date_field :expense_date, placeholder: "出金日", class: "input-date" %>　
      </li>
      <li>
          　　<%= form.submit "保　存", class: "input-btn" %>
      <li>
    </ul>
    <% end %>
  </div>
</div>



<div class="detail-box">
  <div class="detail-title-box">
    <h2 class="detail-title">固定費詳細</h2>
  </div>
  <div class="details">
    <div class="category-detail detail-color">
      分 類
    </div>
    <div class="price-detail detail-color">
      金 額
    </div>
    <div class="date-detail detail-color">
      出金日
    </div>
    <div class="remarks-detail detail-color">      
      備 考
    </div>
    <div class="delete-detail detail-color">
      削 除
    </div>
  </div>
  <% @fixed_costs.each do |fixed_cost| %>
  <div class="details">
    <div class="category-detail">
      <%= fixed_cost.fixed_cost_category.name %> 
    </div>
    <div class="price-detail expense-color">
      <%= fixed_cost.price.to_s(:delimited) %>円
    </div>
    <div class="date-detail">
      <%= fixed_cost.expense_date.strftime("%Y年%m月%d日") %>
    </div>
    <div class="remarks-detail">      
      <%= fixed_cost.remarks %>
    </div>
    <div class="delete-detail">
      <%= link_to '削除', fixed_cost_path(fixed_cost.id), method: :delete, class: "delete-btn" %>
    </div>
  </div>
  <% end %>
</div>
  <%= render "shared/footer" %>